{% extends "layout.html" %}

{% block title %}
History
{% endblock %}

{% block main %}
<div>
    <h1>History</h1>

    <table class="table table-striped" style="text-align: start;">
        <thead>
            <tr>
                <th scope="col">Stock Symbol</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for item in history %}
            <!-- Create row -->
            <tr>
                <td>{{item.symbol}}</td>
                <td>{{item.shares}}</td>
                <td>{{item.price | usd}}</td>
                <td>{{item.time}}</td>
            </tr>

            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
